@import 'settings';
@import 'foundation-emails';
@import 'mobile_swap';
@import 'footer';

$blue: #002c44;
$gold: #ab9666;
$border: 4px solid #9a6c5b;
$brown: #a77461;


/* Button STYLING */

table.button table td a {
    font-size: 15px;
    padding: 12px 36px 10px;
    color: rgba(255,255,255,1);
}

table.button table td {
    text-align: center;
    background-color: rgba(0,0,0,1);
    border: none 0px rgba(0,0,0,1);
}

table.button:hover table td, table.button:visited table td, table.button:active table td {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
}

.pad-0 {
    padding:0 !important;
}

.margin-0 {
    margin:0 !important;
}


.pad-top-0    {
    padding-top: 0;
}

.pad-top-15    {
    padding-top: 15px;
}

.pad-top-18    {
    padding-top: 18px;
}

.pad-top-20    {
    padding-top: 20px;
}

th.columns.border    {
    border: $border; 
}

/* custom colors (Modify, delete, or expand on as needed) */


body {
    .bg-black {
        background-color: $black;
    }
    .bg-blue {
        background-color: $blue;
    }
    .bg-gold {
        background-color: $gold;
    }
    .white p,
    .white a {
        color: $black
    }
    .strong {
        font-weight: bold;
    }
    .underline {
        text-decoration: underline;
    }
    .border-top {
        border-top: $border
    }
    .border-bottom {
        border-bottom: $border
    }
}

h5 {
    font-size: 18px;
    font-weight: bold;
}

ol li, ul li {
  font-size:16px; line-height: 18px;
  padding:10px 30px 10px 20px;
}

hr {
    max-width: 600px;
}


/* styling inside dynamic boxes */

th.callout-inner.secondary {
    font-size: 12px;
    border: 0 none;
    background-color: #a77461;
    color: #fff;
}


/* styling adjust for mobile */

@media only screen and (max-width: 580px) {
  .retina {
    max-width: 600px !important;
    width:100% !important;
  }
  
    th.callout-inner.secondary {
        font-size: 14px !important;
    }
    
    .callout    {
        width: 65% !important;
        margin-bottom: 0 !important;
       /* margin-bottom: 25px !important;*/
    }
    .hide-for-small    {
        display: none !important;
        width: 0px !important;
        height: 0px !important;
        overflow: hidden !important;
        line-height: 0px !important;
        font-size: 0px !important;
    }
    .small-padding-collapse    {
        padding:0 !important;
    }
}