<!--
--- subject: My Email Subject ---
-->

<!-- Main Area Content -->

<!-- Offer -->
<row>
  <columns small="12" large="12">
    <spacer size="30"></spacer>
    <p>

      Dear Online Tuxedo Rental Piloteers,
      <br>
      <br> Thank you in advance for your participation in this pilot! Your feedback on how well our tuxedo fits you will fuel the fit technology algorithm so that it learns and improves size prediction accuracy. This will enable us to scale as well as create the foundation for future innovation.
      <br>
      <br> Have fun going through the site experience and get ready to look dapper in a TMW tux! To THANK YOU for your participation, you will receive a $10 Starbucks gift card after you try on a tux and complete a short survey.

    </p>
    <spacer size="30"></spacer>

    <h5>How do I get started?</h5>
<ol>
    <li>
      Go to <a href="https://tuxedo.menswearhouse.com/">https://tuxedo.menswearhouse.com/</a>
    </li>
    <li>
      Order by <strong>Friday, August 26<sup>th</sup></strong>
    </li>
    <li>
      Receive your rental. Try it on and notify us of any issues.
    </li>
    <li>
      Fill out the fit survey <u>&lt;link here&gt;</u>
    </li>
    <li>
      Take a selfie, upload it into the survey and you’ll be automatically entered into a contest for a chance to win a prize!
    </li>
    <li>
      Please do this during work hours.
    </li>
</ol>
    <spacer size="30"></spacer>


    <h5>A lot of info below but trust us, it’s all important. Here’s what you need to do for the pilot:
</h5>
<ul>
    <li> PLACE ORDER BY: <b>Friday, August 26<sup>th</sup></b></li>

    <li> WEB BROWSER: Use Chrome or Safari inside the Men’s Wearhouse network. In store, use the iPad and the Safari browser.</li>

    <li> TUX STYLE: Choose <b>any slim fit tuxedo style and make it your own by </b>changing the vest and tie. Orderrental items only, NO retail items like pocket squares, satin flowers, etc... </li>

    <li> CREATE ACCOUNT: Use your<b> corporate email address</b></li>

    <li> EVENT TYPE: <b>Special Event </b>(not Wedding)</li>

    <li> EVENT DATE: <b>{X/XX/XXXX}</b></li>

    <li> DISCOUNT CODE: {XXXXXXXXXXXX}. Make sure to enter this code during the event creation process. The tux rental is FREE and you will only be charged a $10 damage waiver fee and tax which will be refunded at the end of September. </li>

    <li> CHOOSE MEASUREMENT METHOD: <b>{XXXXXXXXX}</b></li>

    <li> PROCEED TO CHECK OUT</li>

    <li> SHIPPING: Ship to you or Pick up in store </li>

    <li> PAYMENT: Use <b>your own credit card</b> during checkout. </li>

    <li> ISSUES/QUESTIONS: For style questions, if your tux doesn’t fit, etc., call Customer Service at <b>(866) 211-0831</b> or <b>chat </b><a href="https://tuxedo.menswearhouse.com/contact-us">https://tuxedo.menswearhouse.com/contact-us</a></li>

    <li> FIT SURVEY: Take our quick survey &lt;link here&gt;. <b>Don’t forget to include a Selfie</b> with your tuxedo on. </li>

    <li> CONTEST: Every participant who completes the survey receives a $10 Starbucks gift card and the 10 best selfies will each win a $100 Visa Gift Card!</li>

</ul>

    <spacer size="30"></spacer>

<p>Thank you so much for your participation! Your feedback will make the Tux Online experience a cut above the rest!<br><br>

    <spacer size="30"></spacer>

Sincerely,<br>
Sam, Kelly, Dan, Tamao, Gina and Sinh<br>
The Tux Digital Team
</p>
    <spacer size="50"></spacer>

  </columns>
</row>