<!-- Header -->
<row class="collapse">
    <columns small="12" large="12" class="text-center">
        <center>
            <spacer size="35"></spacer>
            <img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_JAB_template_01.gif">
        </center>
    </columns>
</row>