    <!-- Legal -->
    <row class="legal">
        <columns small="12" large="12" class="text-center pad-0">
                       <spacer size="10"></spacer>
            <p class="text-center"><small>$50 off every tux or suit rental + $100 Restaurant.com gift certificate</small></p>
        </columns>

    </row>
