<!-- 1 Column Logo -->
    <row class="collapse bg-black">
        <columns small="12" large="12" class="text-center">
            <spacer size="15"></spacer>
            <img class="text-center" src="http://f.e.menswearhouse.com/i/48/2089524253/16-625299_MWT_Prom_Take_Down_Phase_1_CFS_No_Tax_Form_EM_0704_2_03.gif">
            <spacer size="15"></spacer>
        </columns>
    </row>