<!--Social-->
<row class="collapse social">
  <columns small="12" large="4" class="first pad-0">
    <spacer height="25"></spacer>
    <p class="text-center"><small>&nbsp;&nbsp;&nbsp;&nbsp;JOIN THE CONVERSATION</small></p>
  </columns>
  <columns small="8" large="4" class="last text-center small-offset-2 pad-0">
    <row class="collapse text-center">
      <columns small="3" large="3">
        <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_05_2x.gif"></a>
      </columns>
      <columns small="3" large="3">
        <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_06_2x.gif"></a>
      </columns>
      <columns small="3" large="3">
        <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_07_2x.gif"></a>
      </columns>
      <columns small="3" large="3">
        <a href="#"><img class="text-center retina" width="50" style="max-width:50px" src="http://f.e.menswearhouse.com/i/48/2089524253/20160626_MW_template_08_2x.gif"></a>
      </columns>
    </row>
  </columns>
  <columns small="12" large="4" class="last text-center pad-0">
    &nbsp;
  </columns>
</row>